### Imports ---------------------------------------------

## from 'standard' packages (but not 'base')

importFrom("grDevices",
           chull, col2rgb, rgb)
importFrom("graphics", pairs, polygon, text)

importFrom("stats", median, optim
         , plogis, qchisq, qlogis
         , rmultinom
           )

## from 'Recommended' packages:

importFrom("cluster", clara)
importFrom("MASS", mvrnorm)

## from other CRAN packages :

importFrom("mvtnorm", dmvnorm)
importFrom("mclust", hclass, hcVVV)
importFrom("mixtools", ellipse)


### This package exports ---------------------------------

## Functions
export(llmvtnorm
     , llnorMmix
     , nMm2par, nc2p, nl2p
     , norMmix
     , norMmixMLE
     , par2nMm
     , rnorMmix
       )

## all the "norMmix"  example objects
export(MW21, MW22
     , MW23, MW24, MW25
     , MW26, MW27, MW28, MW29
     , MW210, MW211, MW212, MW213
     , MW31, MW32, MW33, MW34
     , MW51
       )


S3method(plot, norMmix)
