### Imports ---------------------------------------------

## from 'standard' packages (but not 'base')

importFrom("grDevices"
         , adjustcolor
         , chull
         , col2rgb
         , extendrange
         , rgb
         , rainbow
           )

importFrom("graphics", legend, matplot, mtext
         , pairs
         , plot, points
         , polygon, text, title
           )

importFrom("stats", median, quantile
         , optim, nobs
         , plogis, qchisq, qlogis
         , rmultinom
         , AIC, BIC, logLik
           )

## from 'Recommended' packages:

importFrom("cluster", clara)
importFrom("MASS", mvrnorm)

## from other CRAN packages :

importFrom("mvtnorm", dmvnorm)
importFrom("mclust", hclass, hcVVV)
importFrom("mixtools", ellipse)


### This package exports ---------------------------------

## Functions
export(
    ldl
     , fitnMm # MM: change name (no ".")
     , llmvtnorm
     , llnorMmix
     , nMm2par, nc2p
     , norMmix
     , norMmixMLE
     , par2nMm
     , npar # better name?
     , rnorMmix
     , sllnorMmix
       )

## all the "norMmix"  example objects <--> ./R/zmarrwandnMm.R
export(MW21, MW22
     , MW23, MW24, MW25
     , MW26, MW27, MW28, MW29
     , MW210, MW211, MW212, MW213, MW214
      ## 3-d :
     , MW31, MW32, MW33, MW34
      ## 5-d :
     , MW51
       )


S3method(print, norMmix)
S3method(plot,  norMmix)
## TODO (?)
## S3method(AIC, norMmixfit)
## S3method(BIC, norMmixfit)
S3method(logLik, norMmixfit)
S3method(nobs,   norMmixfit)

S3method(print, fittednorMmix)
S3method(plot, fittednorMmix)
S3method(AIC, fittednorMmix)
S3method(BIC, fittednorMmix)
S3method(logLik, fittednorMmix)
S3method(nobs,   fittednorMmix)

